.admin-page{
    margin-top: $page-height-with-nav;
    min-height: 100dvh;
    .secondary-heading{
        margin-bottom: 0;
        
    }
    .admin-buttons-wrapper{
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            min-width:250px;
            flex-grow: 9999;
            max-height: 250px;
            aspect-ratio: 1;
            box-shadow: 4px 4px 20px 0px rgba(45, 88, 115, 0.20);
            .admin-button{
                .button-img{
                    margin-inline: auto;
                    font-size: 2rem;
                }
                .secondary-heading{
                    font-weight: $fw-medium;
                    &:hover{
                        color: $clr-primary-300;
                    }
                }
            } 
        }
    }
}