.all-event-style{
    .flyers-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (max-width : 1075px) {
        .flyers-wrapper{
            display: flex;
        }
    }
}