@import '../base/mixins';
.events-page{
    .filter-wrapper{
        @include min-mobile{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
                'a b c'
            ;

        }
        align-items: center;

        h3{
            grid-area: a;
        }
        .filters-wrapper{
            grid-area: b;
            justify-self: center;
        }
        button{
            grid-area: c;
            justify-self: end;
        }
        display: grid;
    }
    @include max-mobile{
        .filter-wrapper{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            'a  c'
            'b  d'
            ;
            .filters-wrapper{
                grid-area: b;
                justify-self: left;
            }
        }
    }
}