@import '../base/mixins';

.event-page-wrapper{
    .event-page-info-wrapper{
        box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.10);
        .primary-heading{
            display: inline-block;
        }
        .event-image{
            max-height: 350px;
            height: 350px;
        }
        .social-links{
            svg{
                font-size: 1.5rem;
            }
        }
        .promoter-links{
            &>:not(:last-child){
            border-right: 2px solid $clr-accent-400;
            padding-inline: .25rem;
        }
        }
        select{
            margin-left: 0;
            display: block;
        }
        .event-info-wrapper{
            text-align: left;
        }
    }
    .entertainment-wrapper{
        .video-wrapper{
            background-color: $clr-light-400;
            .react-player{
                margin-inline: auto;
                max-width: 100%;
            }
        }
        .images-carousel{
            li{
                width: 100%;
                aspect-ratio: 1;
                background-color: $clr-light-400;
            }
        }
    }
}
@include min-mobile{
    .event-page{
        .event-page-info-wrapper{
            display: grid;
            grid-template-columns: auto 1fr;
            .left-wrapper{
                margin-inline: 2rem;
            }
            .right-wrapper{
                text-align: left;
                
            }
        }
    }
}