@import '../base/mixins';
@import '../mixins/grid';

.hero{
    position: relative;
    background-image: url('/src/images/heroImg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // background: linear-gradient(102deg, #2D5873 0.31%, rgba(45, 88, 115, 0.71) 80.02%);;
    padding-top: $page-height-with-nav;
    min-height: 80dvh;
    .hero-wrapper{
        padding-block-start: 2rem;
        justify-content: center;
        flex-direction: column-reverse;
        .hero-heading{
            display: inline;
        }
        .wrapper{
            gap: min(2rem, 2vw);
        }
        .right-hero{
            padding-inline: min(2rem, 10vw ) ;
            .hero-img-cont{
                transform: translateX(2.5%);
                border-radius: 5px;
                .hero-img{
                    transform: translateX(-5%) translateY(-4%);
                    border-radius: 5px;
                    object-fit: fill;
                }
            }
            li{
                .hero-img{
                    max-height: 400px;
                    aspect-ratio: 1.5/2;
                }
            }
        }
    }
    .hero-flyer-buttons{
        // margin-top: 5rem;
        height: 50px;
        order: -1;
        .hero-flyer-button{
            height: .75rem;
            border-radius: 50vw;
            aspect-ratio: 1;
            background-color: $clr-light-500;
            &[datatype-flyer="active-button"]{
                background-color: $clr-light-300;
            }
        }
    }

}
.hero-nav-button-wrapper{
        display: none;
}
@include min-tablet{
    .hero{
        .hero-wrapper{
                @include two-columns;
                .left-hero-wrapper{
                    display: flex;
                    align-items: center;
                }
                .left-hero{
                    align-items: center;
                    text-align: left;
                    .eyebrow{
                        text-align: center;
                    }
                    .hero-heading{
                        text-align: left;
                    }
                    .wrapper{
                        justify-content: start;
                        flex-direction: column;
                        .hero-button-wrapper{
                            justify-content: start;
        
                        }
                    }
                    .primary-paragraph{
                        font-size: $fs-400;
                        font-weight: $fw-light;
                    }
                }
                .right-hero{
                    justify-content: end;
                }
                .hero-flyer-buttons{
                    order: 1;
                    grid-column: span 2;
                }
        }
    }
    .hero-nav-button-wrapper{
        z-index: 10;
        display: block;
        cursor: pointer;
        position: absolute;
        opacity: .7;
        scale: 1.3;
        transition: scale 150ms, opacity 150ms;
        &:hover{
            opacity: 1;
            scale: 2.3;
        }
    }
}
#left-button{
    left: 20px;
}
#right-button{
    right: 20px;
}
[datatype-flyer='inactive-flyer']{
    display: none;
}