
.hot-events{
    .flyers-wrapper{
        // box-shadow: 5.36907px 5.36907px 20.13402px 0px rgba(0, 0, 0, 0.08);
        overflow-x: auto;
        justify-self: center;
        .flyer{
            box-shadow: 5.36907px 5.36907px 20.13402px 0px rgba(0, 0, 0, 0.08);
            max-width: 280px;
            margin-bottom: 3rem;
            .flyer-img{
                min-height: 350px;
                max-height: 350px;
                min-width: 270px;
                // aspect-ratio: 1.5/2;
            }
            .flyer-info-cont{
                text-align: center;
                .flyer-header{
                    display:inline-block;
                    margin-inline: auto;
                    text-overflow: ellipsis;
                    text-wrap: nowrap;
                    overflow: hidden;
                    max-width: 100%;
                }
                .p{
                    font-weight: light;
                }
            }
        }
    }
}