@import '../base/mixins';
@import '..//mixins/grid';
.promote-cta{
        background: linear-gradient(96deg, #2D5873 0.55%, rgba(45, 88, 115, 0.58) 100%);
    .left-cta{
        max-width: 350px;
        align-self: center;
        border-bottom: 1px solid $clr-dark-300;
        h2{
            text-align: start;
        }
        .button{
            display: block;
            text-align: center;
        }
    }
    .right-cta{
        justify-self: end;
    }
}
@include min-mobile{
    .promote-cta{
        .promote-cta-wrapper{
            @include even-columns;
            .left-cta{
                border: none;
                margin-left: 0;
            }
        }
    }
}