//colors

.bg-primary-300{
    background-color: $clr-primary-300;
}
.bg-primary-800{
    background-color: $clr-primary-800;
}
.bg-accent-400{
    background-color: $clr-accent-400;
}
.bg-light-300{
    background-color: $clr-light-300;
}
.bg-light-400{
    background-color: $clr-light-400;
}
.bg-light-500{
    background-color: $clr-light-500;
}
.bg-dark-300{
    background-color: $clr-dark-300;
}
.bg-dark-400{
    background-color: $clr-dark-400;
}


//Text colors

.clr-primary-300{
    color: $clr-primary-300;
}
.clr-primary-800{
    color: $clr-primary-800;
}
.clr-accent-400{
    color: $clr-accent-400;
}
.clr-light-300{
    color: $clr-light-300;
}
.clr-light-400{
    color: $clr-light-400;
}
.clr-light-500{
    color: $clr-light-500;
}
.clr-dark-300{
    color: $clr-dark-300;
}
.clr-dark-400{
    color: $clr-dark-400;
}
