@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;700&display=swap");
img,
svg {
  max-width: 100%;
  display: block;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style-type: none;
}

* {
  font-family: "Signika Negative", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

:root {
  /* Typogrophy*/
  --fs-100: 0.625rem;
  --fs-200: .0813rem;
  --fs-300: 1rem;
  --fs-300: 1.094rem;
  --fs-350: 1.25rem;
  --fs-400: 1.5rem;
  --fs-500: 1.875rem;
  --fs-600: 2.25rem;
  --fs-700: 2.5rem;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --primary-clr-300: hsla(203, 44%, 31%, 1);
  --primary-clr-400: hsla(203, 84%, 19%, 1);
  --accent-clr-400: hsla(0, 81%, 73%, 1);
  --Background-clr-dark-50: hsla(0, 0%, 100%, 1);
  --Background-clr-dark-100: hsla(60, 7%, 95%, 1);
  --Background-clr-dark-200: hsla(0, 0%, 79%, 1);
  --Background-clr-dark-300: hsla(0, 0%, 17%, 1);
  --Background-clr-dark-400: hsla(0, 0%, 0%, 1);
}

/* Styling Presets*/
.primary-header {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  color: var(--Background-clr-dark-50);
}

/*Utitlity Classes*/
.hide {
  display: block !important;
}

.page-inline-padding {
  width: min(1050px, 100% - 2rem);
  margin-inline: auto;
}

.page-block-padding {
  padding-top: 80px;
  padding-bottom: 180px;
}

.position-center {
  margin: auto;
  inset: 0;
  position: absolute;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-direction-col {
  display: flex;
  flex-direction: column;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.button {
  border: none;
  outline: none;
  background: none;
}

.primary-button {
  background: var(--Background-clr-dark-50);
  color: var(--primary-clr-400);
  padding: 7px 1.25rem;
  border-radius: 1px;
  font-weight: bold;
  font-size: var(--fs-300);
}

.secondary-button {
  background: var(--primary-clr-400);
  color: var(--Background-clr-dark-100);
  padding: 4px 1rem;
  border-radius: 1px;
}

.eyebrow {
  text-decoration: underline;
  font-weight: var(--fw-light);
  color: var(--accent-clr-400);
}

body {
  background-color: var(--Background-clr-dark-50);
  color: var(--Background-clr-dark-100);
}

.nav {
  width: 100%;
  height: 5rem;
  position: absolute;
}
.nav .nav-links {
  gap: min(3vw, 2rem);
}
.nav .nav-links .link {
  display: flex;
  align-items: center;
}
.nav .nav-links .link a {
  color: var(--Background-clr-dark-100);
  position: relative;
}
.nav .nav-links .link a::after {
  content: "";
  width: 0px;
}
.nav .nav-links .link a:hover::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--accent-clr-400);
  transition: width 250ms;
}
.nav .right-nav {
  gap: 0.5rem;
}

.hero {
  min-height: 80svh;
  background: linear-gradient(102deg, #2D5873 0.31%, rgba(45, 88, 115, 0.71) 80.02%);
}
.hero .hero-wrapper {
  align-items: center;
  justify-content: space-between;
  padding-top: 5rem;
}
.hero .hero-wrapper .left-hero .event-info-wrapper li {
  gap: 0.75rem;
}
.hero .hero-wrapper .left-hero .event-info-wrapper li img {
  fill: white;
}
.hero .hero-wrapper .right-hero .hero-img-cont {
  max-width: 350px;
}/*# sourceMappingURL=App.css.map */