@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
img,
svg {
  max-width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}

select {
  background: transparent;
  outline: transparent;
  border: transparent;
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--Background-clr-dark-300);
}

li {
  list-style-type: none;
}

* {
  font-family: "Signika Negative", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

:root {
  /* Typogrophy*/
  --fs-100: 0.625rem;
  --fs-200: .813rem;
  --fs-250: 1rem;
  --fs-300: 1.094rem;
  --fs-350: 1.25rem;
  --fs-400: 1.5rem;
  --fs-500: 1.875rem;
  --fs-600: 2.25rem;
  --fs-700: 2.5rem;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --primary-clr-300: hsla(203, 44%, 31%, 1);
  --primary-clr-400: hsla(203, 84%, 19%, 1);
  --accent-clr-400: hsla(0, 81%, 73%, 1);
  --Background-clr-dark-50: hsla(0, 0%, 100%, 1);
  --Background-clr-dark-100: hsla(60, 7%, 95%, 1);
  --Background-clr-dark-200: hsla(0, 0%, 79%, 1);
  --Background-clr-dark-300: hsla(0, 0%, 17%, 1);
  --Background-clr-dark-400: hsla(0, 0%, 0%, 1);
}

/* Styling Presets*/
.primary-header {
  font-size: clamp(var(--fs-500), 10vw, var(--fs-700));
  font-weight: var(--fw-bold);
  color: var(--Background-clr-dark-300);
}

.secondary-header {
  font-size: clamp(var(--fs-250), 10vw, var(--fs-500));
  font-weight: var(--fw-regular);
}

.primary-paragraph {
  font-size: clamp(var(--fs-200), 4vw, var(--fs-300));
}

/*Utitlity Classes*/
.hide {
  display: block !important;
}

.page-inline-padding {
  --_page-width: 1050px;
  width: min(var(--_page-width), 100% - 2rem);
  margin-inline: auto;
}

.page-block-padding {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.text-center {
  text-align: center;
}

.position-center {
  margin: auto;
  inset: 0;
  position: absolute;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-direction-col {
  display: flex;
  flex-direction: column;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.position-relative {
  position: relative;
}

.button {
  border-color: transparent;
  outline: none;
  background: none;
  cursor: pointer;
}

.primary-button {
  background: var(--Background-clr-dark-50);
  color: var(--primary-clr-400);
  padding: 7px 1.25rem;
  border-radius: 3px;
  font-weight: bold;
  font-size: clamp(var(--fs-100), 2vw, var(--fs-250));
}
.primary-button:hover {
  background: var(--Background-clr-dark-100);
}

.secondary-button {
  background: var(--primary-clr-400);
  color: var(--Background-clr-dark-100);
  padding: 4px 1rem;
  border-radius: 1px;
}

.get-tickets-button {
  width: 100%;
  background-color: var(--primary-clr-400);
  color: var(--Background-clr-dark-50);
  padding-block: 0.1rem;
  font-size: var(--fs-250);
}

.secondary-a-tag {
  color: var(--Background-clr-dark-100);
}
.secondary-a-tag:hover {
  color: var(--Background-clr-dark-200);
}

.text-input {
  width: 100%;
  padding-block: min(1rem, 5vw);
  padding-inline: 1rem;
  border: var(--Background-clr-dark-200) 2px solid;
  outline: transparent;
  border-radius: 0.3rem;
  color: var(--Background-clr-dark-300);
}
.text-input:focus {
  border: 2px solid #F28080;
  background: #FFF;
  box-shadow: 4px 4px 5px 0px rgba(242, 128, 128, 0.17);
}

.dropdown-button-wrapper {
  position: relative;
}
.dropdown-button-wrapper .dropdown-button {
  width: 1.5rem;
}
.dropdown-button-wrapper .dropdown-options {
  display: none;
}
.dropdown-button-wrapper .active-dropdown {
  display: flex;
  flex-direction: column;
  margin-top: 1.6rem;
  position: absolute;
  transform: translateX(calc(-100% + 1.5rem));
  background-color: var(--Background-clr-dark-50);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 0.2rem;
}
.dropdown-button-wrapper .active-dropdown .dropdown {
  min-width: 2.7rem;
  line-break: strict;
  background-color: var(--Background-clr-dark-50);
  text-align: left;
}
.dropdown-button-wrapper .active-dropdown .dropdown:hover {
  background-color: var(--Background-clr-dark-100);
}

.eyebrow {
  text-decoration: underline;
  font-weight: var(--fw-light);
  color: var(--accent-clr-400);
}

.heading-line-style::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15%;
  max-width: 3rem;
  height: 3px;
  background: var(--accent-clr-400);
  border-radius: 5px;
}

body {
  background-color: var(--Background-clr-dark-50);
  color: var(--Background-clr-dark-100);
}

.nav {
  z-index: 100;
  width: 100%;
  height: 5rem;
  position: fixed;
}
.nav .logo {
  padding-top: 0.2rem;
}
.nav .logo img {
  height: 85%;
}
.nav .nav-links-wrapper {
  align-items: center;
}
.nav .nav-links {
  gap: min(3vw, 2rem);
}
.nav .nav-links .link {
  display: flex;
  align-items: center;
  font-size: var(--fs-200);
}
.nav .nav-links .link a {
  color: var(--Background-clr-dark-100);
  position: relative;
}
.nav .nav-links .link a::after {
  content: "";
  width: 0px;
}
.nav .nav-links .link a:hover::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--accent-clr-400);
  transition: width 250ms;
}
.nav .right-nav {
  gap: 0.5rem;
}
.nav .nav-footer, .nav .close-button, .nav .menu-button {
  display: none;
}

@media (max-width: 50em) {
  .nav-links-wrapper {
    display: none;
  }
  .nav-active {
    display: flex !important;
    background: var(--Background-clr-dark-50);
    position: fixed;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: space-around;
    padding-left: 1rem;
    padding-top: 2rem;
    animation: navActive 250ms;
  }
  @keyframes navActive {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .nav-active .link {
    margin-bottom: 1.2rem;
  }
  .nav-active .link > a {
    font-size: var(--fs-250);
    color: var(--Background-clr-dark-300) !important;
  }
  .nav-links {
    flex-direction: column;
  }
  .menu-button, .nav-footer {
    display: flex !important;
  }
  .close-button {
    top: 2rem;
    right: 1rem;
    position: absolute;
    width: 1.2rem;
    display: block !important;
  }
  .nav-footer {
    width: 100%;
    gap: 3rem;
    padding-top: 3rem;
    border-top: 2px solid var(--Background-clr-dark-200);
    color: var(--Background-clr-dark-300);
  }
  .secondary-header {
    font-size: var(--fs-250);
    margin-bottom: 0.5rem;
  }
  label {
    font-size: var(--fs-200);
  }
  a, p {
    font-size: var(--fs-100);
    color: var(--Background-clr-dark-300);
  }
}
.hero {
  min-height: 80svh;
  background: linear-gradient(102deg, #2D5873 0.31%, rgba(45, 88, 115, 0.71) 80.02%);
  overflow-x: hidden;
  position: relative;
}
.hero .hero-nav-button-wrapper {
  z-index: 1;
  position: absolute;
  inset: 0;
}
.hero .hero-nav-button-wrapper div {
  width: 15%;
  opacity: 0.1;
  transition: opacity 350ms;
}
.hero .hero-nav-button-wrapper div:hover {
  opacity: 1;
}
.hero .hero-nav-button-wrapper .hero-nav-button {
  cursor: pointer;
  font-size: min(2.5rem, 3.5vw);
}
.hero .hero-nav-button-wrapper #left-button {
  margin-inline-start: 5px;
}
.hero .hero-nav-button-wrapper #right-button {
  margin-inline-end: 5px;
}
.hero .hero-wrapper {
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.hero .hero-wrapper .left-hero {
  gap: 1rem;
}
.hero .hero-wrapper .left-hero .eyebrow {
  text-align: center;
  margin-bottom: -10px;
  font-size: clamp(var(--fs-100), 5vw, var(--fs-200));
  font-weight: var(--fw-light);
}
.hero .hero-wrapper .left-hero .wrapper {
  gap: 1rem;
}
.hero .hero-wrapper .left-hero .hero-header {
  position: relative;
  color: var(--Background-clr-dark-100);
}
.hero .hero-wrapper .left-hero .event-info-wrapper {
  color: var(--Background-clr-dark-200);
}
.hero .hero-wrapper .left-hero .event-info-wrapper li {
  gap: 0.75rem;
  font-weight: var(--fw-light);
}
.hero .hero-wrapper .left-hero .event-info-wrapper li img {
  fill: white;
}
.hero .hero-wrapper .left-hero .base-text {
  color: var(--Background-clr-dark-300);
  font-size: var(--fs-100);
}
.hero .hero-wrapper .left-hero .hero-button-wrapper {
  gap: 0.75rem;
}
.hero .hero-wrapper .left-hero .hero-button-wrapper img {
  width: 1rem;
}
.hero .hero-wrapper .left-hero .hero-button-wrapper p {
  color: var(--accent-clr-400);
  font-size: clamp(var(--fs-100), 2vw, var(--fs-250));
}
.hero .hero-wrapper .hero-img-cont, .hero .hero-wrapper .hero-img {
  border-radius: 5px;
  cursor: pointer;
}
.hero .hero-wrapper .right-hero {
  max-width: 300px;
  position: relative;
  margin-right: 20px;
}
.hero .hero-wrapper .right-hero .hero-img-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 6%;
  top: 4%;
  background: hsla(203, 44%, 31%, 0.73);
  z-index: -100;
}
.hero .active-flyer {
  display: flex !important;
  animation: activeFlyer 350ms;
}
@keyframes activeFlyer {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.hero .inactive-flyer {
  display: none;
  transform: translateX(100%);
}
.hero .hero-flyer-buttons {
  position: absolute;
  bottom: -4rem;
  gap: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.hero .hero-flyer-buttons .hero-flyer-button {
  border-radius: 50%;
  background-color: var(--Background-clr-dark-50);
  aspect-ratio: 1;
  width: 0.6rem;
}
.hero .hero-flyer-buttons .inactive-button {
  opacity: 0.5;
}

@media (max-width: 50em) {
  .hero {
    height: 100dvh;
  }
  .hero .hero-nav-button-wrapper {
    display: none;
  }
  .hero .hero-wrapper {
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .hero .hero-wrapper .left-hero .hero-header {
    text-align: center;
    margin-inline: auto;
  }
  .hero .hero-wrapper .left-hero .wrapper {
    flex-direction: row;
  }
  .hero .hero-wrapper .right-hero {
    max-width: 200px !important;
  }
}
.testimonials .testimonials-wrapper .primary-header {
  text-align: center;
  margin-bottom: 2rem;
}
.testimonials .testimonials-wrapper .header-buttons {
  gap: 1.5rem;
  border-radius: 2px;
}
.testimonials .testimonials-wrapper .header-buttons .button {
  background-color: var(--Background-clr-dark-100);
  padding: 0.2rem 0.3rem;
  font-size: var(--fs-100);
}
.testimonials .testimonials-wrapper .testimonials-card-wrapper {
  gap: 1rem;
  overflow-x: auto;
}
.testimonials .testimonials-wrapper .testimonials-card-wrapper .testimonial-card {
  margin-bottom: 1rem;
  text-align: center;
  min-width: 280px;
}
.testimonials .testimonials-wrapper .testimonials-card-wrapper .testimonial-card .testimonial-wrapper {
  background-color: var(--Background-clr-dark-100);
  padding: 2.5rem 0.8rem;
  margin: 1rem 0;
}
.testimonials .testimonials-wrapper .testimonials-card-wrapper .testimonial-card .testimonial-card-header {
  color: var(--Background-clr-dark-300);
  font-family: "Passion One", sans-serif;
  font-size: 64px;
  line-height: 2.5rem;
}
.testimonials .testimonials-wrapper .testimonials-card-wrapper .testimonial-card p {
  color: var(--Background-clr-dark-300);
  font-size: var(--fs-200);
}
.testimonials .testimonials-wrapper .testimonials-card-wrapper .testimonial-card .testimonial-profile .profile-picture {
  margin-bottom: 0.5rem;
  position: relative;
  border-radius: 50%;
  width: 2rem;
  aspect-ratio: 1;
  margin-inline: auto;
  overflow: hidden;
  background-color: var(--Background-clr-dark-300);
}
.testimonials .testimonials-wrapper .testimonials-card-wrapper .testimonial-card .testimonial-profile .profile-picture img {
  margin-inline: auto;
}
.testimonials .testimonials-wrapper .testimonials-card-wrapper .active-testimonial {
  cursor: pointer;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--accent-clr-400) !important;
  transition: box-shadow 250ms, background-color 250ms;
}

.hot-events .hot-events-wrapper {
  color: var(--Background-clr-dark-300);
}
.hot-events .hot-events-wrapper .hot-events-header {
  color: var(--Background-clr-dark-300);
  margin-bottom: 1.5rem;
}
.hot-events .hot-events-wrapper .hot-events-header .primary-paragraph {
  text-decoration: underline;
  color: var(--Background-clr-dark-300);
}
.hot-events .hot-events-wrapper .flyers-wrapper {
  gap: 1rem;
  overflow-x: auto;
  scroll-padding-top: 1rem;
}
.hot-events .hot-events-wrapper .flyers-wrapper::-webkit-scrollbar {
  display: none;
}
.hot-events .hot-events-wrapper .flyers-wrapper .flyer {
  cursor: pointer;
  margin-bottom: 2rem;
  width: 250px;
  min-width: 250px;
  box-shadow: 5.36907px 5.36907px 20.13402px 0px rgba(0, 0, 0, 0.08);
}
.hot-events .hot-events-wrapper .flyers-wrapper .flyer .flyer-img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hot-events .hot-events-wrapper .flyers-wrapper .flyer .flyer-info-cont {
  padding: 0.5rem 0.75rem;
  flex-direction: column;
}
.hot-events .hot-events-wrapper .flyers-wrapper .flyer .flyer-info-cont > :not(:last-child) {
  margin-bottom: 0.5rem;
}
.hot-events .hot-events-wrapper .flyers-wrapper .flyer .flyer-info-cont .flyer-header {
  font-size: var(--fs-400);
  margin-inline: auto;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.hot-events .hot-events-wrapper .flyers-wrapper .flyer .flyer-info-cont .event-info-wrapper {
  align-self: flex-start;
}
.hot-events .hot-events-wrapper .flyers-wrapper .flyer .flyer-info-cont .event-info-wrapper li {
  gap: 0.75rem;
  font-size: var(--fs-300);
  font-weight: var(--fw-light);
}
.hot-events .hot-events-wrapper .flyers-wrapper .flyer .flyer-info-cont .event-info-wrapper li img {
  width: 0.8rem;
}
.hot-events .hot-events-wrapper .flyers-wrapper .flyer .flyer-info-cont .tickets-wrapper {
  width: 100%;
  justify-self: flex-end;
}
.hot-events .hot-events-wrapper .flyers-wrapper .flyer .flyer-info-cont .ticket-price {
  color: var(--accent-clr-400);
  font-weight: var(--fw-bold);
  font-size: var(--fs-350);
}

.all-event-style .flyers-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 1075px) {
  .all-event-style .flyers-wrapper {
    display: flex;
  }
}

.promote-cta {
  background: linear-gradient(96deg, #2D5873 0.55%, rgba(45, 88, 115, 0.58) 100%);
}
.promote-cta .primary-header {
  max-width: 16ch;
  color: var(--Background-clr-dark-100);
}
.promote-cta .button {
  margin-block: 1rem;
  width: 100%;
}
.promote-cta p {
  color: var(--Background-clr-dark-50);
  line-height: 1.5rem;
  font-size: var(--fs-300);
}
.promote-cta p a {
  font-size: var(--fs-300);
  text-decoration: underline;
}

@media (max-width: 50em) {
  .promote-cta .promote-cta-wrapper {
    flex-direction: column;
  }
  .promote-cta .promote-cta-wrapper .left-cta {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 1.5px solid var(--Background-clr-dark-300);
  }
}
footer {
  background-color: var(--Background-clr-dark-300);
  color: var(--Background-clr-dark-100);
}
footer .logo {
  margin-bottom: 3rem;
}
footer .secondary-header {
  margin-bottom: 1.5rem;
  font-size: var(--fs-250);
}
footer label {
  font-size: var(--fs-200);
}
footer a, footer p {
  color: var(--Background-clr-dark-100);
  font-size: var(--fs-100);
  font-weight: var(--fw-light);
}

.events-page-wrapper {
  padding-bottom: 0px;
}

.events-page .filter-wrapper {
  flex-wrap: wrap;
  background-color: var(--Background-clr-dark-100);
  padding: 0.75rem;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}
.events-page .filter-wrapper .secondary-header {
  font-size: var(--fs-400);
  color: var(--accent-clr-400);
  margin-right: 5rem;
}
.events-page .filter-wrapper .filters-wrapper {
  width: 65%;
  gap: min(2rem, 2vw);
}
.events-page .filter-wrapper .filters-wrapper .filter label {
  color: var(--Background-clr-dark-300);
}
.events-page .filter-wrapper button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
.events-page .events-page-style .primary-paragraph {
  display: none;
}
.events-page .events-page-navigation {
  background-color: var(--Background-clr-dark-100);
  padding: 1rem;
  color: var(--Background-clr-dark-300);
  margin-bottom: 6rem;
}
.events-page .events-page-navigation .page-navigation-button {
  font-size: 1rem;
}

.event-page {
  min-height: 100dvh;
  color: var(--Background-clr-dark-300);
}
.event-page .event-page-info-wrapper {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  gap: clamp(1rem, 5vw, 5rem);
}
.event-page .event-page-info-wrapper .left-wrapper {
  max-width: 300px;
}
.event-page .event-page-info-wrapper .right-wrapper {
  width: 100%;
}
.event-page .event-page-info-wrapper .right-wrapper .primary-header {
  position: relative;
}
.event-page .event-page-info-wrapper .right-wrapper .secondary-header {
  font-size: var(--fs-250);
  font-weight: var(--fw-bold);
}
.event-page .event-page-info-wrapper .right-wrapper .promoter-links {
  flex-wrap: wrap;
}
.event-page .event-page-info-wrapper .right-wrapper .promoter-links > * {
  padding-inline: 0.5rem;
}
.event-page .event-page-info-wrapper .right-wrapper .promoter-links > :not(:last-child) {
  border-right: 2px solid var(--accent-clr-400);
}
.event-page .event-page-info-wrapper .right-wrapper .promoter-links .social-links li {
  font-size: 1.5rem;
}
.event-page .event-page-info-wrapper .right-wrapper .promoter-links p, .event-page .event-page-info-wrapper .right-wrapper .promoter-links a {
  font-size: var(--fs-250);
  font-weight: var(--fw-light);
}
.event-page .event-page-info-wrapper .right-wrapper .event-info-wrapper li {
  gap: 1rem;
  font-weight: var(--fw-light);
}
.event-page .event-page-info-wrapper .right-wrapper select {
  margin-top: 1rem;
  color: var(--Background-clr-dark-50);
  background-color: var(--Background-clr-dark-300);
  padding: 0.3rem;
}
.event-page .event-page-info-wrapper .right-wrapper .button-wrapper {
  gap: 1.5rem;
}
.event-page .event-page-info-wrapper .right-wrapper .button-wrapper p {
  color: var(--accent-clr-400);
  font-size: var(--fs-350);
  font-weight: var(--fw-bold);
}
.event-page .event-page-info-wrapper .right-wrapper .button-wrapper button {
  padding-block: 0.5rem;
}
.event-page .entertainment-wrapper .secondary-header {
  margin-bottom: 4rem;
}
.event-page .entertainment-wrapper .video-wrapper {
  background: var(--Background-clr-dark-200);
  aspect-ratio: 3/1.5;
  height: 350px;
  width: 100%;
  margin-bottom: 3rem;
  position: relative;
}
.event-page .entertainment-wrapper .video-wrapper .react-player {
  width: 100% !important;
}
.event-page .entertainment-wrapper .images-carousel {
  gap: 1.5rem;
  overflow-x: auto;
}
.event-page .entertainment-wrapper .images-carousel li {
  background-color: var(--Background-clr-dark-200);
  max-width: 300px;
  width: 300px;
  min-width: 200px;
  aspect-ratio: 1;
}
.event-page .entertainment-wrapper .images-carousel li img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 50em) {
  .event-page .event-page-info-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .event-page .event-page-info-wrapper .left-wrapper {
    max-width: 450px;
    width: 100%;
  }
  .event-page .event-page-info-wrapper .right-wrapper {
    gap: 2rem;
  }
  .event-page .secondary-header {
    font-size: var(--fs-400);
  }
}
.login-page {
  min-height: 100dvh;
  gap: 2rem;
  background-color: var(--Background-clr-dark-50);
  color: var(--Background-clr-dark-300);
}
.login-page .primary-header {
  color: var(--Background-clr-dark-300);
}
.login-page .login-page-wrapper {
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.77));
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
  padding-block: 4rem;
  padding-inline: min(5rem, 5vw);
  gap: 1.75rem;
}
.login-page .login-page-wrapper input[type=checkbox] {
  margin-right: 0.5rem;
}
.login-page .login-page-wrapper .top-wrapper .inputs-wrapper {
  gap: 1.5rem;
}
.login-page .login-page-wrapper .top-wrapper, .login-page .login-page-wrapper .bottom-wrapper {
  gap: 1.25rem;
}
.login-page .login-page-wrapper .button {
  margin-bottom: 1rem;
  background-color: var(--primary-clr-300);
  width: 100%;
  color: var(--Background-clr-dark-100);
}
.login-page .login-page-wrapper .button:hover {
  opacity: 0.9;
}
.login-page .login-page-wrapper span {
  cursor: pointer;
  color: var(--primary-clr-300);
  font-weight: var(--fw-bold);
}
.login-page .login-page-wrapper span:hover {
  text-decoration: underline;
}

.admin-page h1 {
  margin-bottom: 4rem;
}
.admin-page .admin-buttons-wrapper {
  gap: 1rem;
}
.admin-page .admin-buttons-wrapper li {
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.17);
  width: 100%;
  padding-block: min(3rem, 5vw);
  padding-inline: min(2rem, 5vw);
}
.admin-page .admin-buttons-wrapper li:hover {
  box-shadow: 4px 4px 20px 0px rgba(45, 88, 115, 0.2);
}
.admin-page .admin-buttons-wrapper li:hover > .button {
  color: var(--primary-clr-300);
}
.admin-page .admin-buttons-wrapper li .button {
  gap: 1rem;
}
.admin-page .admin-buttons-wrapper li .button .button-img {
  font-size: min(4rem, 10vw);
}

.add-event-page {
  color: var(--Background-clr-dark-300);
}
.add-event-page .add-event-page-wrapper {
  --_page-width: 681px;
}
.add-event-page .add-event-page-wrapper .add-event-wrapper {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 2rem min(3rem, 10vw);
}
.add-event-page .add-event-page-wrapper .add-event-wrapper .add-event {
  gap: 2rem;
}
.add-event-page .add-event-page-wrapper .add-event-wrapper .add-event .promoter-links-wrapper {
  flex-wrap: wrap;
  gap: 1rem;
}
.add-event-page .add-event-page-wrapper .add-event-wrapper .add-event .promoter-links-wrapper .promoter-link-wrapper {
  gap: 1rem;
}
.add-event-page .add-event-page-wrapper .add-event-wrapper .add-event .promoter-links-wrapper .promoter-link-wrapper svg {
  font-size: 2rem;
}
.add-event-page .add-event-page-wrapper .add-event-wrapper .add-event .secondary-header {
  color: var(--Background-clr-dark-300);
}
.add-event-page .add-event-page-wrapper .add-event-wrapper .add-event .location-wrapper {
  gap: min(3.5rem, 5vw);
}
.add-event-page .add-event-page-wrapper .add-event-wrapper .add-event .location-wrapper input {
  width: 100%;
}
.add-event-page .add-event-page-wrapper .add-event-wrapper .add-event .button {
  padding-block: 1rem;
}
.add-event-page .add-event-page-wrapper .add-event-wrapper .add-event .add-imgs-wrapper {
  gap: 1rem;
}
.add-event-page .add-event-page-wrapper .add-event-wrapper .add-event .add-img-wrapper {
  position: relative;
  max-width: 200px;
  aspect-ratio: 1.75/2;
  background-color: var(--Background-clr-dark-100);
}
.add-event-page .add-event-page-wrapper .add-event-wrapper .add-event .add-img-wrapper input {
  height: 100%;
  width: 100%;
}
.add-event-page .add-event-page-wrapper .add-event-wrapper .add-event .add-img-wrapper div {
  background-color: var(--Background-clr-dark-100);
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.add-event-page .add-event-page-wrapper .add-event-wrapper .add-event .add-img-wrapper .add-img-button {
  cursor: pointer;
  pointer-events: none;
  font-size: clamp(3rem, 10vw, 5rem);
  aspect-ratio: 1;
}
.add-event-page .add-event-page-wrapper .add-event-wrapper .add-event .add-img-wrapper img, .add-event-page .add-event-page-wrapper .add-event-wrapper .add-event .add-img-wrapper video {
  pointer-events: none;
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 100%;
}

.admin-events-list {
  gap: 1rem;
}
.admin-events-list .admin-event {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
  height: 3rem;
  padding-inline-end: 1.5rem;
}
.admin-events-list .admin-event div {
  gap: 1rem;
}
.admin-events-list .admin-event img {
  aspect-ratio: 1.75/2;
  max-height: 3rem;
}

.admin-event-page {
  color: var(--Background-clr-dark-300);
}

.loading {
  width: 3rem;
  aspect-ratio: 1;
  border: 5px solid var(--accent-clr-400);
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  animation: infinite rotating 1000ms linear;
}
@keyframes rotating {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}/*# sourceMappingURL=App.css.map */