@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
img,
svg{
    max-width: 100%;
    display: block;
}
select{
    background: transparent;
    outline: transparent;
    border: transparent;
    cursor: pointer;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: var(--Background-clr-dark-300);
}
li{
    list-style-type: none;
}
*{
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
:root{
    /* Typogrophy*/

    // Font Sizes
    
    --fs-100: 0.625rem; //10px
    --fs-200: .813rem; //13px
    --fs-250: 1rem; //16px
    --fs-300: 1.094rem; //17.5px
    --fs-350: 1.25rem; //20px
    --fs-400: 1.5rem; //24px
    --fs-500: 1.875rem; //30px
    --fs-600: 2.25rem;  //36px
    --fs-700: 2.5rem; //40px

    // Font Weight

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;

    // Colors

  --primary-clr-300: hsla(203, 44%, 31%, 1);
  --primary-clr-400: hsla(203, 84%, 19%, 1);

  --accent-clr-400: hsla(0, 81%, 73%, 1);

  --Background-clr-dark-50: hsla(0, 0%, 100%, 1);
  --Background-clr-dark-100: hsla(60, 7%, 95%, 1);
  --Background-clr-dark-200: hsla(0, 0%, 79%, 1);
  --Background-clr-dark-300: hsla(0, 0%, 17%, 1);
  --Background-clr-dark-400: hsla(0, 0%, 0%, 1);

}

/* Styling Presets*/
.primary-header{
    font-size: clamp(var(--fs-500), 10vw, var(--fs-700)); 
    font-weight: var(--fw-bold);
    color: var(--Background-clr-dark-100);
}
.secondary-header{
    font-size: clamp(var(--fs-250), 10vw, var(--fs-500)); 
    font-weight: var(--fw-regular);
}
.primary-paragraph{
    font-size: clamp(var(--fs-200), 4vw, var(--fs-300)); 
}


/*Utitlity Classes*/
.hide{
    display: block !important;
}

.page-inline-padding{
    width: min(1050px, 100% - 1rem *  2);
    margin-inline: auto;
}
.page-block-padding{
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

//Displays and positions

.position-center{
    margin:auto;
    inset: 0;
    position: absolute;
}
.grid{
    display: grid;
}
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-direction-col{
    display: flex;
    flex-direction: column;
}
.vertical-align{
    display: flex;
    align-items: center;
}

// BUTTONS
.button{
    border-color: transparent;
    outline: none;
    background: none;
    cursor: pointer;
}
.primary-button{
    background: var(--Background-clr-dark-50);
    color: var(--primary-clr-400);
    padding: 7px 1.25rem;
    border-radius: 3px;
    font-weight: bold;
    font-size: clamp(var(--fs-100), 2vw, var(--fs-250));
    &:hover{
        background: var(--Background-clr-dark-100);
    }
}
.secondary-button{
    background: var(--primary-clr-400);
    color: var(--Background-clr-dark-100);
    padding: 4px 1rem;
    border-radius: 1px;
}
.get-tickets-button{
    width: 100%;
    background-color: var(--primary-clr-400);
    color: var(--Background-clr-dark-50);
    padding-block: .1rem;
    font-size: var(--fs-250);
}

.secondary-a-tag{
    color: var(--Background-clr-dark-100);
    &:hover{
        color: var(--Background-clr-dark-200);
    }
}

.eyebrow{
    text-decoration: underline;
    font-weight: var(--fw-light);
    color: var(--accent-clr-400);
}

.heading-line-style::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 15%;
    max-width: 3rem;
    height: 3px;
    background: var(--accent-clr-400);
    border-radius: 5px;
}

//General Syling
body{
    background-color: var(--Background-clr-dark-50);
    color: var(--Background-clr-dark-100);
}

.nav{
    z-index: 100;
    width: 100%;
    height: 5rem;
    position: fixed;
    .logo{
        padding-top: .2rem;
        img{
            height: 85%;
        }
    }
    .nav-links-wrapper{
        align-items: center;
    }
    .nav-links{
        gap: min(3vw, 2rem);
        .link{
            display: flex;
            align-items: center;
            font-size: var(--fs-200);
            a{
                color: var(--Background-clr-dark-100);
                position: relative;
                &::after{
                    content: '';
                    width: 0px;
                }
            }
            a:hover::after{
                content: '';
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 100%;
                height: 2px;
                background: var(--accent-clr-400);
                transition: width 250ms;
            }
        }
    }
    .right-nav{
        gap: .5rem;

    }
    .nav-footer, .close-button, .menu-button{
        display: none;
    }
}
@media (max-width: 50em) {
    .nav-links-wrapper{
        display: none;
    }

    .nav-active{
        display: flex !important;
        background: var(--Background-clr-dark-50);
        position: fixed;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 100;
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: space-around;
        padding-left: 1rem;
        padding-top: 2rem;
        animation: navActive 250ms;
        @keyframes navActive {
            0%{
                transform: translateX(100%);     
            }
            100%{
                transform: translateX(0%);     
            }
        }

        .link{
            margin-bottom: 1.2rem;
        }
        .link > a{
            font-size: var(--fs-250);
            color: var(--Background-clr-dark-300) !important;
        }
    }
    .nav-links{
        flex-direction: column;
    }
    .menu-button, .nav-footer{
        display: flex !important;
    }
    .close-button{
        top: 2rem;
        right: 1rem;
        position: absolute;
        width: 1.2rem;
        display: block !important;
    }
    .nav-footer{
        width: 100%;
        gap: 3rem;
        padding-top: 3rem;
        border-top: 2px solid var(--Background-clr-dark-200);
        color: var(--Background-clr-dark-300);

    }
    .secondary-header{
        font-size: var(--fs-250);
        margin-bottom: .5rem;
    }
    label{
        font-size: var(--fs-200);
    }
    a, p{
        font-size: var(--fs-100);
        color: var(--Background-clr-dark-300);
    }
}
.hero{
    min-height: 80svh;
    background: linear-gradient(102deg, #2D5873 0.31%, rgba(45, 88, 115, 0.71) 80.02%);;
    overflow-x: hidden;
    .hero-wrapper{
        position: relative;
        align-items: center;
        justify-content: space-between;
        .left-hero{
            gap: 1rem;
            .eyebrow{
                text-align: center;
                margin-bottom: -10px;
                font-size: clamp(var(--fs-100), 5vw, var(--fs-200)) ;
                font-weight: var(--fw-light);
            }
            .wrapper{
                gap: 1rem;
            }
            .hero-header{
                position: relative;
            }
            .event-info-wrapper{
                color: var(--Background-clr-dark-200);
                li{
                    gap: .75rem;
                    font-weight: var(--fw-light);
                    img{
                        fill: white;
                    }
                }
            }
            .base-text{
                color: var(--Background-clr-dark-300);
                font-size: var(--fs-100);
            }
            .hero-button-wrapper{
                gap: .75rem;
                img{
                    width: 1rem;
                }
                p{
                    color: var(--accent-clr-400);
                    font-size: clamp(var(--fs-100), 2vw, var(--fs-250));
                }
            }
        }
        .hero-img-cont, .hero-img{
            border-radius: 5px;
            cursor: pointer;
        }
        .right-hero{
            max-width: 300px;
            position: relative;
            margin-right: 20px;
            .hero-img-cont{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 6%;
                top: 4%;
                background: hsla(203, 44%, 31%, 0.73);
                z-index: -100;
            }
        }

    }
    .active-flyer{
        display: flex !important;
        animation: activeFlyer 350ms;
    }
    @keyframes activeFlyer {
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(0%);
        }
    }
    .inactive-flyer{
        display: none;
        transform: translateX(100%);

    }
    .hero-flyer-buttons{
        position: absolute;
        bottom: -4rem;
        gap: .5rem;
        left: 50%;
        transform: translateX(-50%);
        .hero-flyer-button{
            border-radius: 50%;
            background-color: var(--Background-clr-dark-50);
            aspect-ratio: 1;
            width: .6rem;
        }
        .inactive-button{
            opacity: .5;
        }
        
    }
}
@media (max-width: 50em) {
    .hero{
        height: 100dvh;
        .hero-wrapper{
            flex-direction: column-reverse;
            gap: 3rem;
            .left-hero{
                .hero-header{
                    text-align: center;
                    margin-inline: auto;
                }
                .wrapper{
                    flex-direction: row;
                }
            }
            .right-hero{
                max-width: 200px !important;
            }
        }
    }
}
.testimonials{
    .testimonials-wrapper{
        .primary-header{
            color: var(--Background-clr-dark-300);
            text-align: center;
            margin-bottom: 2rem;
        }
        .header-buttons{
            gap: 1.5rem;
            border-radius: 2px;
            .button{
                background-color: var(--Background-clr-dark-100);
                padding: .2rem .3rem;
                font-size: var(--fs-100);
            }
        }
        .testimonials-card-wrapper{
            gap: 1rem;
            overflow-x: auto;
            .testimonial-card{
                margin-bottom: 1rem;
                text-align: center;
                min-width: 280px;
                .testimonial-wrapper{
                    background-color: var(--Background-clr-dark-100);
                    padding: 2.5rem .8rem;
                    margin: 1rem 0;
                }
                .testimonial-card-header{
                    color: var(--Background-clr-dark-300);
                    font-family: 'Passion One', sans-serif;
                    font-size: 64px;
                    line-height: 2.5rem;
                }
                p{
                    color: var(--Background-clr-dark-300);
                    font-size: var(--fs-200);
                }
                .testimonial-profile{
                    .profile-picture{
                        margin-bottom: .5rem;
                        position: relative;
                        border-radius: 50%;
                        width: 2rem;
                        aspect-ratio: 1;
                        margin-inline: auto;
                        overflow: hidden;
                        background-color: var(--Background-clr-dark-300);
                        img{
                            margin-inline: auto;
                        }
                    }
                }
            }
            .active-testimonial{
                cursor: pointer;
                box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
                background-color: var(--accent-clr-400) !important;
                transition: box-shadow 250ms, background-color 250ms;
            }
        }
    }
}
.hot-events{
    .hot-events-wrapper{
        color: var(--Background-clr-dark-300);
        .hot-events-header{
            color: var(--Background-clr-dark-300);
            margin-bottom: 1.5rem;
            .primary-paragraph{
                text-decoration: underline;
                color: var(--Background-clr-dark-300);
            }
        }
        .flyers-wrapper{
            gap: 1rem;
            overflow-x: auto;
            scroll-padding-top: 1rem;
            &::-webkit-scrollbar{
                display: none;
            }
            .flyer{
                cursor: pointer;
                margin-bottom: 2rem;
                width: 250px;
                min-width: 250px;
                box-shadow: 5.36907px 5.36907px 20.13402px 0px rgba(0, 0, 0, 0.08);
                
                .flyer-img{
                }
                .flyer-info-cont{
                    padding: .5rem .75rem;
                    flex-direction: column;
                    &>:not(:last-child){
                        margin-bottom: .5rem;
                    }
                    .flyer-header{
                        font-size: var(--fs-400);
                        margin-inline: auto;
                        position: relative;
                    }
                    .event-info-wrapper{
                        align-self: flex-start;
                        li{
                            gap: .75rem;
                            font-size: var(--fs-300);
                            font-weight: var(--fw-light);
                            img{
                                width: .8rem;
                            }
                        }
                    }
                    .ticket-wrapper{
                        color: var(--accent-clr-400);
                        font-weight: var(--fw-bold);
                        font-size: var(--fs-350);
                    }
                }
            }
        }
    }
}
.all-event-style{
    .flyers-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (max-width : 1075px) {
        .flyers-wrapper{
            display: flex;
        }
    }
}
.promote-cta{
    background: linear-gradient(96deg, #2D5873 0.55%, rgba(45, 88, 115, 0.58) 100%);
    .primary-header{
        max-width: 16ch;
    }
    .button{
        margin-block: 1rem;
        width: 100%;
    }
    p{
        color: var(--Background-clr-dark-50);
        line-height: 1.5rem;
        font-size: var(--fs-300);
        a{
            font-size: var(--fs-300);
            text-decoration: underline;
        }
    }
}
@media (max-width: 50em) {
    .promote-cta{
        .promote-cta-wrapper{
            flex-direction: column;
            .left-cta{
                padding-bottom: 3rem;
                margin-bottom: 3rem;
                border-bottom: 1.5px solid var(--Background-clr-dark-300);
            }
        }
    }
}

footer{
    background-color: var(--Background-clr-dark-300);
    color: var(--Background-clr-dark-100);
    .logo{
        margin-bottom: 3rem;
    }
    .secondary-header{
        margin-bottom: 1.5rem;
        font-size: var(--fs-250);
    }
    label{
        font-size: var(--fs-200);   
    }
    a, p{
        color: var(--Background-clr-dark-100);
        font-size: var(--fs-100);
        font-weight: var(--fw-light);
    }
}
.events-page-wrapper{
    padding-bottom: 0px;
}
.events-page{
    .filter-wrapper{
        flex-wrap: wrap;
        background-color: var(--Background-clr-dark-100) ;
        padding: .75rem;
        align-items: center;
        position: relative;
        overflow-x: hidden;
        .secondary-header{
            font-size: var(--fs-400);
            color: var(--accent-clr-400);
            margin-right: 5rem;
        }
        .filters-wrapper{
            width: 65%;
            gap: 2rem;
            .filter{
                label{
                    color: var(--Background-clr-dark-300);
                }


            }
        }
        button{
            position: absolute;
            right: .5rem;
            top: .5rem;
        }
    }
    .events-page-style{

        .primary-paragraph{
            display: none;
        }
    }
    .events-page-navigation{
        background-color: var(--Background-clr-dark-100) ;
        padding: 1rem;
        color: var(--Background-clr-dark-300);
        margin-bottom: 6rem;
        .page-navigation-button{
            font-size: 1rem;
        }
    }

}
.event-page{
    color: var(--Background-clr-dark-300);
    .event-page-info-wrapper{
        box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.10);
        padding: 1.5rem;
        gap: clamp(1rem, 5vw, 5rem);
        .left-wrapper{
            max-width: 300px;
        }
        .right-wrapper{
            width: 100%;
            .primary-header{
                color: var(--Background-clr-dark-300);
                position: relative;
            }
            .secondary-header{
                font-size: var(--fs-250);
                font-weight: var(--fw-bold);
            }
            .promoter-links{
                flex-wrap: wrap;
                &>*{
                    padding-inline: .5rem;
                }
                &>:not(:last-child){
                    border-right: 2px solid var(--accent-clr-400);
                }
                .social-links {
                    li{
                        font-size: 1.5rem;
                    }
                } 
                p, a{
                    font-size: var(--fs-250);
                    font-weight: var(--fw-light);
                }
            }
            .event-info-wrapper{
                li{
                    gap: 1rem;
                    font-weight: var(--fw-light);
                }
            }
            select{
                margin-top: 1rem;
                color: var(--Background-clr-dark-50);
                background-color: var(--Background-clr-dark-300);
                padding: .3rem;
            }
            .button-wrapper{
                gap: 1.5rem;
                p{
                    color: var(--accent-clr-400);
                    font-size: var(--fs-350);
                    font-weight: var(--fw-bold);
                }
                button{
                    padding-block: .5rem;

                }
            }
        }
    }
    .entertainment-wrapper{
        .secondary-header{
            margin-bottom: 4rem;
        }
        .video-wrapper{
            background: var(--Background-clr-dark-200);
            aspect-ratio: 3/1.5;
            width: 100%;
            margin-bottom: 3rem;
        }
        .images-carousel{
            gap: 2rem;
            overflow-x: auto;
            li{
                background-color: var(--Background-clr-dark-200);
                max-width: 300px;
                width: 300px;
                min-width: 200px;
                aspect-ratio: 1;
                img{
                    object-fit: cover;

                }
            }
        }
    }
}
@media (max-width: 50em) {
    .event-page{
        .event-page-info-wrapper{
            flex-direction: column;
            align-items: center;
            .left-wrapper{
                max-width: 450px;
                width: 100%;
            }
            .right-wrapper{
                gap: 2rem;
            }
        }
        .secondary-header{
            font-size: var(--fs-400);
        }
    }
}