@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;700&display=swap');
img,
svg{
    max-width: 100%;
    display: block;
}
a{
    cursor: pointer;
    text-decoration: none;
}
li{
    list-style-type: none;
}
*{
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
:root{

    /* Typogrophy*/

    // Font Sizes
    
    --fs-100: 0.625rem; //10px
    --fs-200: .813rem; //13px
    --fs-250: 1rem; //16px
    --fs-300: 1.094rem; //17.5px
    --fs-350: 1.25rem; //20px
    --fs-400: 1.5rem; //24px
    --fs-500: 1.875rem; //30px
    --fs-600: 2.25rem;  //36px
    --fs-700: 2.5rem; //40px

    // Font Weight

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;

    // Colors

  --primary-clr-300: hsla(203, 44%, 31%, 1);
  --primary-clr-400: hsla(203, 84%, 19%, 1);

  --accent-clr-400: hsla(0, 81%, 73%, 1);

  --Background-clr-dark-50: hsla(0, 0%, 100%, 1);
  --Background-clr-dark-100: hsla(60, 7%, 95%, 1);
  --Background-clr-dark-200: hsla(0, 0%, 79%, 1);
  --Background-clr-dark-300: hsla(0, 0%, 17%, 1);
  --Background-clr-dark-400: hsla(0, 0%, 0%, 1);

}

/* Styling Presets*/
.primary-header{
    font-size: clamp(var(--fs-500), 10vw, var(--fs-700)); 
    font-weight: var(--fw-bold);
    color: var(--Background-clr-dark-100);
}
.primary-paragraph{
    font-size: clamp(var(--fs-200), 4vw, var(--fs-300)); 
}

/*Utitlity Classes*/
.hide{
    display: block !important;
}

.page-inline-padding{
    width: min(1050px, 100% - 1rem *  2);
    margin-inline: auto;
}
.page-block-padding{
    padding-top: 80px;
    padding-bottom: 180px;
}
.position-center{
    margin:auto;
    inset: 0;
    position: absolute;
}
.grid{
    display: grid;
}
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-direction-col{
    display: flex;
    flex-direction: column;
}
.vertical-align{
    display: flex;
    align-items: center;
}
.button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.primary-button{
    background: var(--Background-clr-dark-50);
    color: var(--primary-clr-400);
    padding: 7px 1.25rem;
    border-radius: 3px;
    font-weight: bold;
    font-size: clamp(var(--fs-100), 2vw, var(--fs-250));
    &:hover{
        background: var(--Background-clr-dark-100);
    }
}
.secondary-button{
    background: var(--primary-clr-400);
    color: var(--Background-clr-dark-100);
    padding: 4px 1rem;
    border-radius: 1px;
}

.eyebrow{
    text-decoration: underline;
    font-weight: var(--fw-light);
    color: var(--accent-clr-400);
}

.heading-line-style::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 15%;
    height: 3px;
    background: var(--accent-clr-400);
    border-radius: 5px;
}

//General Syling
body{
    background-color: var(--Background-clr-dark-50);
    color: var(--Background-clr-dark-100)
}
.nav{
    width: 100%;
    height: 5rem;
    position: absolute;
    .nav-links-wrapper{
        align-items: center;
    }
    .nav-links{
        gap: min(3vw, 2rem);
        .link{
            display: flex;
            align-items: center;
            font-size: var(--fs-200);
            a{
                color: var(--Background-clr-dark-100);
                position: relative;
                &::after{
                    content: '';
                    width: 0px;
                }
            }
            a:hover::after{
                content: '';
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 100%;
                height: 2px;
                background: var(--accent-clr-400);
                transition: width 250ms;
            }
        }
    }
    .right-nav{
        gap: .5rem;

    }
    .nav-footer, .close-button, .menu-button{
        display: none;
    }
}
@media (max-width: 50em) {
    .nav-links-wrapper{
        display: none;
    }
    .nav-active{
        display: flex !important;
        background: var(--Background-clr-dark-50);
        position: fixed;
        right: 0;
        height: 100%;
        width: 85%;
        z-index: 100;
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: space-around;
        padding-left: 1rem;
        padding-top: 2rem;
        
        .link{
            margin-bottom: 1.2rem;
        }
        .link > a{
            font-size: var(--fs-250);
            color: var(--Background-clr-dark-300) !important;
        }
    }
    .nav-links{
        flex-direction: column;
    }
    .menu-button, .nav-footer{
        display: flex !important;
    }
    .close-button{
        top: 2rem;
        right: 1rem;
        position: absolute;
        width: 1.2rem;
        display: block !important;
    }
    .nav-footer{
        width: 100%;
        gap: 3rem;
        padding-top: 3rem;
        border-top: 2px solid var(--Background-clr-dark-200);
        color: var(--Background-clr-dark-300);

    }
    .secondary-header{
        font-size: var(--fs-250);
        margin-bottom: .5rem;
    }
    label{
        font-size: var(--fs-200);
    }
    a, p{
        font-size: var(--fs-100);
        color: var(--Background-clr-dark-300);
    }
}
.hero{
    min-height: 80svh;
    background: linear-gradient(102deg, #2D5873 0.31%, rgba(45, 88, 115, 0.71) 80.02%);;
    .hero-wrapper{
        position: relative;
        align-items: center;
        justify-content: space-between;
        .left-hero{
            gap: 1rem;
            .eyebrow{
                text-align: center;
                margin-bottom: -10px;
                font-size: clamp(var(--fs-100), 5vw, var(--fs-200)) ;
                font-weight: var(--fw-light);
            }
            .wrapper{
                gap: 1rem;
            }
            .hero-header{
                position: relative;
            }
            .event-info-wrapper{
                color: var(--Background-clr-dark-200);
                li{
                    gap: .75rem;
                    font-weight: var(--fw-light);
                    img{
                        fill: white;
                    }
                }
            }
            .base-text{
                color: var(--Background-clr-dark-300);
                font-size: var(--fs-100);
            }
            .hero-button-wrapper{
                gap: .75rem;
                img{
                    width: 1rem;
                }
                p{
                    color: var(--accent-clr-400);
                    font-size: clamp(var(--fs-100), 2vw, var(--fs-250));
                }
            }
        }
        .hero-img-cont, .hero-img{
            border-radius: 5px;
        }
        .right-hero{
            max-width: 300px;
            position: relative;
            margin-right: 20px;
            .hero-img-cont{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 6%;
                top: 4%;
                background: hsla(203, 44%, 31%, 0.73);
                z-index: -100;
            }
        }

    }
    .active-flyer{
        display: flex !important;
    }
    .inactive-flyer{
        display: none;
    }
    .hero-flyer-buttons{
        position: absolute;
        bottom: -4rem;
        gap: .5rem;
        left: 50%;
        transform: translateX(-50%);
        .hero-flyer-button{
            border-radius: 50%;
            background-color: var(--Background-clr-dark-50);
            aspect-ratio: 1;
            width: .6rem;
        }
        .inactive-button{
            opacity: .5;
        }
        
    }
}
@media (max-width: 50em) {
    .hero{
        height: 100dvh;
        .hero-wrapper{
            flex-direction: column-reverse;
            gap: 3rem;
            .left-hero{
                .hero-header{
                    text-align: center;
                    margin: auto;
                }
                .wrapper{
                    flex-direction: row;
                }
            }
            .right-hero{
                max-width: 200px !important;
            }
        }
    }
}

