@mixin even-columns{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
@mixin two-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
// @mixin even-columns-mobile{
//     display: grid;
//     grid-auto-flow: column;
//     grid-auto-columns: 1fr;
// }
@mixin even-row{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
@mixin responsive-grid ($max-width){
    grid-template-columns: repeat(auto-fit, minmax($max-width, 1fr));
}